.noPage{
    font-size: 30px;
    top: 40%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.goHome{
    font-size: 26px;
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.sadIcon{
    font-size: 72px;
    text-align: center;
}
.homeIcon{
        text-align: center;
        transform: rotate(-90deg);
        font-size: 50px;
}
.homeLink{
    cursor: pointer;
    z-index: 2;
}
.notFoundPage{
    width: 100%;
    height: 100%;
    background: #1E88E5;
    color: #ffffff;
}