<md-tab-group>
  <md-tab label="About">
        <md-card class="profileCard">
          <md-card-title>About Me</md-card-title>
          <md-card-subtitle>Know about him</md-card-subtitle>
          <img height="240" width="240" src="http://3.bp.blogspot.com/-vtQaAwbgj6Q/VRp9kn6222I/AAAAAAAAIVU/fULfkccJJPk/s1600/Sachin%2BTendulkar%2Bhdwallpapers%2B(1).jpg" md-card-image>
          <md-card-actions>
              <button md-mini-fab>OK</button>         
          </md-card-actions>
        </md-card>
  </md-tab>
  <md-tab label="Contact">
Contact
  </md-tab>
</md-tab-group>