/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url("/src/styles/MaterialDesign-Webfont-master/css/materialdesignicons.min.css");
html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 0;
}
.bold{
    font-weight: bold;
}
.font30{
    font-size: 30px;
}